body{
  margin: 0;
  border: 0;
}

.main_content{
  display: flex;
}


.side_bar{
  flex: 1;
  height: fill;
  background-color: wheat;
  font-size: 10px;
  font-weight: bold;
}

.content{
  flex: 9;
  height: auto;
  background-color: white;
  font-size: 20px;

}

ul li{
  padding: 10px;
  border-bottom: 1px solid black;
  list-style-type: none;
}

ul li:hover{
  color: white;
  background-color: lightblue;
}

h2 {
  text-align: center  ;
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #f96bbb;
  color: white;
  padding: 14px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #f96bbb;
}

input[type="submit"]:focus {
  outline: none;
}

.error {
  color: red;
}