<div class="container text-center col-md-6">
    <form action="/product/add" method="post" enctype="multipart/form-data">
        <h1 class="text text-primary text-uppercase">Add new product</h1>

        <label for="">Product Name</label><br>
        <input class="form-control"type="text" name="productName"><br><br>

        <label for="">Price</label><br>
        <input class="form-control" type="number" name="price"><br><br>

        <label for="">Description</label><br>
        <input class="form-control" type="text" name="description"><br><br>

        <label for="">Product Image</label><br>
        <input class="form-control" type="file" name="avatar" id="avatar">
        <br><br>

        <label for="">Category</label><br>
        <select class="form-control" name="category" id="">
        {{#each categories }}
        <option value="{{ _id }}">{{ categoryName }}</option>
        {{/each}}
        </select>
        <br><br>
        
        <input type="submit" value="Add">
    </form>
</div>